# Kickstarter: Classification
Tests Include:
-KNN
-Logistic Regression
-Decision Trees
-Random Forest
-SVM
-Gradient Boosting

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm

import sqlalchemy
from sqlalchemy import create_engine
from flask_sqlalchemy import SQLAlchemy

from sklearn import naive_bayes
from sklearn.naive_bayes import GaussianNB, BernoulliNB,MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, roc_auc_score
from sklearn.metrics import average_precision_score, precision_recall_curve, auc
from sklearn.learning_curve import learning_curve
from sklearn.cross_validation import train_test_split, cross_val_predict
from sklearn.model_selection import GridSearchCV, cross_val_score, KFold
from sklearn.preprocessing import label_binarize, scale, StandardScaler
from sklearn.multiclass import OneVsRestClassifier
from sklearn.pipeline import make_pipeline

from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import (RandomTreesEmbedding, RandomForestClassifier,
                              GradientBoostingClassifier)
from sklearn.preprocessing import OneHotEncoder

import warnings
import os
%matplotlib inline

warnings.filterwarnings("ignore") #, category=DeprecationWarning)

/Users/brianmcmahon/anaconda3/envs/tensorflow1.4/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/brianmcmahon/anaconda3/envs/tensorflow1.4/lib/python3.5/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [2]:
# env variable at tensorflow1.4 per https://conda.io/docs/user-guide/tasks/manage-environments.html#saving-environment-variables
# and https://vsupalov.com/flask-sqlalchemy-postgres/

def get_env_variable(name):
    try:
        return os.environ[name]
    except KeyError:
        message = "Expected environment variable '{}' not set.".format(name)
        raise Exception(message)

# the values of those depend on your setup
POSTGRES_URL = get_env_variable("POSTGRES_URL")
POSTGRES_USER = get_env_variable("POSTGRES_USER")
POSTGRES_PW = get_env_variable("POSTGRES_PW")
POSTGRES_DB = get_env_variable("POSTGRES_DB")

In [3]:
DB_URL = 'postgresql+psycopg2://{user}:{pw}@{url}/{db}'.format(user=POSTGRES_USER,pw=POSTGRES_PW,url=POSTGRES_URL,db=POSTGRES_DB)

In [4]:
engine_var = DB_URL
engine = create_engine(engine_var)

In [5]:
df = pd.read_pickle('data/kickstarter_data_ds2.pkl')
df['idx'] = df['id']
df = df.set_index('idx')
# df = pd.read_sql_query('''SELECT * FROM kickstarter_data_ds2''',engine)
print(df.shape)
# pd.read_sql_query('''SELECT state, main_category, main_category, currency, currency, deadline, launched, usd_goal_real, usd_pledged_real FROM kickstarter_data_ds2 LIMIT 5''',engine)
df.head()

(163426, 18)

,id,name,state,category_name,backers_count,pct_goal_achieved,usd_pledged,goal,country,currency,campaign_length,deadline,launched,created,spotlight,staff_pick,creator_name,blurb_length
idx,,,,,,,,,,,,,,,,,,
1725323227,1725323227,Inspire young girls,failed,Childrenswear,1,2.3,30.0,1300.0,US,USD,30,2018-01-12,2017-12-13,2017-12-08,0,0,Rayna,6
2065169465,2065169465,Cotton-Top Pastries,successful,Small Batch,99,131.4,9858.0,7500.0,US,USD,30,2018-01-12,2017-12-13,2017-12-12,1,1,Holly Weist,5
1516902916,1516902916,Dreaming Creek Brewery,failed,Drinks,64,30.7,6139.0,20000.0,US,USD,30,2018-01-12,2017-12-13,2017-08-11,0,0,Mike Bradley,19
1396766240,1396766240,Ripple Playing Cards - Printed by USPCC,failed,Playing Cards,131,33.9,3387.0,9999.0,US,USD,38,2018-01-12,2017-12-05,2017-10-08,0,0,B.Y. Eidelman,16
1361347175,1361347175,New Boutique Funding for the San Antonio Stock...,failed,Ready-to-wear,0,0.0,0.0,5000.0,US,USD,15,2018-01-12,2017-12-28,2017-12-22,0,0,Darrian Fosty,26

In [6]:
df.columns

Index(['id', 'name', 'state', 'category_name', 'backers_count',
       'pct_goal_achieved', 'usd_pledged', 'goal', 'country', 'currency',
       'campaign_length', 'deadline', 'launched', 'created', 'spotlight',
       'staff_pick', 'creator_name', 'blurb_length'],
      dtype='object')

In [7]:
df_state = df.groupby(["state"]).count().sort_values(['name'], ascending=[False])
df_state = pd.DataFrame(df_state, columns={'name'})
print(df_state.shape)
df_state

(2, 1)

             name
state
successful  91697
failed      71729

In [8]:
df_state = df.groupby(["state"]).sum().sort_values(['usd_pledged'], ascending=[False])
df_state = pd.DataFrame(df_state, columns={'usd_pledged','goal'})
print(df_state.shape)
df_state

(2, 2)

                    goal   usd_pledged
state
successful  9.181127e+08  1.795628e+09
failed      6.299258e+09  8.334406e+07

In [9]:
df_country = df.groupby(["country","state"]).count().sort_values(['name'], ascending=[False])
df_country = pd.DataFrame(df_country, columns={'name'})
print(df_country.shape)
df_country

(44, 1)

                     name
country state
US      successful  77075
        failed      53506
GB      successful   7164
        failed       6602
CA      failed       3341
        successful   2683
AU      failed       1938
        successful   1208
DE      failed        984
NL      failed        836
IT      failed        820
FR      failed        634
ES      failed        549
DE      successful    524
FR      successful    480
SE      failed        437
MX      failed        387
NL      successful    367
NZ      failed        337
SE      successful    302
DK      failed        281
NZ      successful    254
ES      successful    253
MX      successful    248
DK      successful    219
IT      successful    214
IE      failed        208
NO      failed        186
CH      failed        179
BE      failed        178
AT      failed        142
IE      successful    132
NO      successful    117
HK      successful    114
CH      successful     98
SG      failed         87
        successful     85
BE      successful     82
HK      failed         76
AT      successful     53
LU      successful     13
JP      successful     12
        failed         11
LU      failed         10

In [10]:
df_country = df.groupby(["country","state"]).sum().sort_values(['usd_pledged'], ascending=[False])
df_country = pd.DataFrame(df_country, columns={'usd_pledged','goal'})
print(df_country.shape)
df_country

(44, 2)

                            goal   usd_pledged
country state
US      successful  7.259664e+08  1.548815e+09
GB      successful  4.110144e+07  1.095120e+08
US      failed      4.136627e+09  6.221106e+07
CA      successful  2.417536e+07  4.087884e+07
AU      successful  1.150529e+07  2.075765e+07
DE      successful  6.840740e+06  1.893398e+07
FR      successful  5.569647e+06  1.067429e+07
NL      successful  4.043202e+06  9.331891e+06
GB      failed      3.180729e+08  8.969440e+06
ES      successful  2.481130e+06  4.895142e+06
SE      successful  1.863800e+07  4.793917e+06
HK      successful  1.018185e+07  3.987863e+06
IT      successful  1.681068e+06  3.565410e+06
CH      successful  1.504240e+06  3.398787e+06
CA      failed      2.971215e+08  3.240168e+06
DK      successful  1.098369e+07  3.047313e+06
NZ      successful  2.259720e+06  2.467303e+06
AT      successful  8.753610e+05  2.346891e+06
IE      successful  1.361220e+06  2.208994e+06
AU      failed      3.050496e+08  2.136873e+06
SG      successful  8.718200e+05  1.532308e+06
NO      successful  6.116020e+06  1.445275e+06
NL      failed      1.049831e+08  1.425722e+06
BE      successful  8.048420e+05  1.262373e+06
MX      successful  1.755027e+07  1.138310e+06
DE      failed      1.503878e+08  1.003959e+06
IT      failed      8.085459e+07  8.659306e+05
FR      failed      2.765222e+07  7.978597e+05
ES      failed      5.473229e+07  3.982282e+05
LU      successful  2.245800e+05  3.422739e+05
SE      failed      2.654667e+08  3.117053e+05
NZ      failed      8.607517e+06  3.036399e+05
JP      successful  2.337687e+07  2.915937e+05
DK      failed      6.201088e+07  2.452121e+05
CH      failed      1.670433e+08  2.257244e+05
IE      failed      1.757884e+07  2.178169e+05
AT      failed      4.201274e+06  1.861117e+05
SG      failed      3.638009e+06  1.801969e+05
NO      failed      4.164028e+07  1.538418e+05
HK      failed      2.680125e+07  1.471721e+05
BE      failed      6.223184e+06  1.335094e+05
MX      failed      1.767175e+08  1.014220e+05
JP      failed      4.351500e+07  8.332294e+04
LU      failed      3.324620e+05  5.141641e+03

In [11]:
df_main_category = df.groupby(["category_name","state"]).count().sort_values(['name'], ascending=[False])
df_main_category = pd.DataFrame(df_main_category, columns={'name'})
print(df_main_category.shape)
df_main_category

(296, 1)

                             name
category_name    state
Web              failed      2987
Indie Rock       successful  2389
Country & Folk   successful  2381
Rock             successful  2368
Shorts           successful  2358
Children's Books successful  2354
Documentary      successful  2340
Theater          successful  2313
Video Games      successful  2310
Tabletop Games   successful  2261
Fiction          successful  2244
Nonfiction       successful  2224
Product Design   successful  2184
Food             successful  2134
Narrative Film   successful  2019
Software         failed      1993
Comics           successful  1951
Apps             failed      1932
Restaurants      failed      1907
Hip-Hop          failed      1763
Fashion          successful  1735
Webseries        successful  1699
Photography      successful  1693
Classical Music  successful  1657
Comic Books      successful  1648
Mobile Games     failed      1591
Pop              successful  1565
Public Art       successful  1550
Dance            successful  1543
Animation        failed      1538
...                           ...
Video Art        successful    52
Workshops        successful    52
Video            successful    51
Residencies      successful    49
Pottery          failed        47
Printing         successful    45
Pottery          successful    44
Couture          successful    42
Latin            successful    40
Pet Fashion      successful    39
Glass            successful    38
Bacon            successful    38
Crochet          successful    35
Translations     successful    35
Typography       failed        33
Photo            successful    33
Literary Spaces  successful    33
Dance            failed        31
Letterpress      successful    30
Chiptune         successful    27
Weaving          successful    25
Embroidery       successful    21
Quilts           successful    19
Residencies      failed        18
Digital Art      successful    16
Letterpress      failed        15
Literary Spaces  failed         8
Chiptune         failed         6
Taxidermy        failed         5
                 successful     5

[296 rows x 1 columns]

In [12]:
df_main_category = df.groupby(["category_name","state"]).sum().sort_values(['usd_pledged'], ascending=[False])
df_main_category = pd.DataFrame(df_main_category, columns={'usd_pledged', 'goal'})
print(df_main_category.shape)
df_main_category

(296, 2)

                                     goal   usd_pledged
category_name     state
Video Games       successful  88558915.00  1.823571e+08
Hardware          successful  43489196.79  1.372346e+08
Product Design    successful  38914451.50  1.270897e+08
Tabletop Games    successful  21391073.00  1.047053e+08
Gadgets           successful  43482709.00  8.520704e+07
Wearables         successful  15674322.00  6.167573e+07
Narrative Film    successful  35415348.30  4.457362e+07
Technology        successful  12915105.00  4.249732e+07
3D Printing       successful   9556290.00  4.226102e+07
Sound             successful  10724128.00  3.970289e+07
Documentary       successful  29478530.00  3.583858e+07
Apparel           successful  17981066.00  3.538542e+07
Camera Equipment  successful   7462233.00  3.279192e+07
Food              successful  22604969.21  3.040466e+07
Fashion           successful  13455413.50  2.855438e+07
Comics            successful  10630942.99  2.436507e+07
Art Books         successful  12410811.00  2.203104e+07
Animation         successful  13825551.00  2.116598e+07
Nonfiction        successful  15442702.99  2.108686e+07
Children's Books  successful  14351806.00  2.044064e+07
Webseries         successful  16276838.33  1.966167e+07
DIY Electronics   successful   5235805.33  1.910520e+07
Accessories       successful   9864489.00  1.889177e+07
Robots            successful   7919444.56  1.763766e+07
Gaming Hardware   successful   3366452.00  1.655265e+07
Country & Folk    successful  13464198.99  1.635481e+07
Footwear          successful   6988370.00  1.500172e+07
Playing Cards     successful   8856390.00  1.432331e+07
Graphic Novels    successful   8109256.00  1.419828e+07
Public Art        successful   9811260.88  1.297892e+07
...                                   ...           ...
Animals           failed       1668909.00  6.425979e+04
Couture           failed      13477352.00  6.340444e+04
Literary Journals failed       1567149.00  6.218020e+04
Translations      failed      14268513.00  5.872465e+04
Nonfiction        failed        818429.10  5.717343e+04
Fiction           failed        558836.19  5.552800e+04
Punk              failed       4767704.00  5.395642e+04
Bacon             failed       4079427.00  5.319926e+04
Candles           failed       2031126.00  4.159949e+04
Crochet           successful     30595.00  3.848360e+04
Pet Fashion       failed       1265385.00  3.651199e+04
Taxidermy         successful     17800.00  3.405774e+04
Photo             failed       2563404.00  3.272349e+04
Workshops         failed       1453468.00  3.261202e+04
Stationery        failed        640804.00  3.198368e+04
Glass             failed        936675.00  3.150844e+04
Knitting          failed        429667.00  3.136051e+04
Digital Art       successful     27630.62  2.956501e+04
Printing          failed       1857962.00  2.458203e+04
Pottery           failed        639482.00  2.441252e+04
Typography        failed        980085.00  2.012588e+04
Quilts            failed        683470.00  1.829512e+04
Embroidery        failed        414675.00  1.722811e+04
Dance             failed        139343.00  1.215913e+04
Chiptune          failed         42549.00  1.014096e+04
Crochet           failed        317735.00  9.429690e+03
Residencies       failed       1017657.00  6.453950e+03
Literary Spaces   failed        129600.00  5.184027e+03
Letterpress       failed         73619.00  4.290281e+03
Taxidermy         failed         18264.00  3.083813e+03

[296 rows x 2 columns]

In [13]:
df_spotlight = df.groupby(["spotlight","state"]).count().sort_values(['name'], ascending=[False])
df_spotlight = pd.DataFrame(df_spotlight, columns={'name'})
print(df_spotlight.shape)
df_spotlight

(2, 1)

                       name
spotlight state
1         successful  91697
0         failed      71729

In [14]:
df_spotlight = df.groupby(["spotlight","state"]).sum().sort_values(['usd_pledged'], ascending=[False])
df_spotlight = pd.DataFrame(df_spotlight, columns={'usd_pledged', 'goal'})
print(df_spotlight.shape)
df_spotlight

(2, 2)

                              goal   usd_pledged
spotlight state
1         successful  9.181127e+08  1.795628e+09
0         failed      6.299258e+09  8.334406e+07

In [15]:
df_dummies = pd.get_dummies(df[['state', 'category_name', 'country']],drop_first=True)
df = df_dummies.merge(df,how='inner',left_index=True, right_index=True)
print(df.shape)
print(df.columns)
df.head()

(163430, 198)
Index(['state_successful', 'category_name_Academic',
       'category_name_Accessories', 'category_name_Action',
       'category_name_Animals', 'category_name_Animation',
       'category_name_Anthologies', 'category_name_Apparel',
       'category_name_Apps', 'category_name_Architecture',
       ...
       'country', 'currency', 'campaign_length', 'deadline', 'launched',
       'created', 'spotlight', 'staff_pick', 'creator_name', 'blurb_length'],
      dtype='object', length=198)

,state_successful,category_name_Academic,category_name_Accessories,category_name_Action,category_name_Animals,category_name_Animation,category_name_Anthologies,category_name_Apparel,category_name_Apps,category_name_Architecture,...,country,currency,campaign_length,deadline,launched,created,spotlight,staff_pick,creator_name,blurb_length
idx,,,,,,,,,,,,,,,,,,,,,
18520,0,0,0,0,0,0,0,0,0,0,...,US,USD,30,2016-11-18,2016-10-19,2016-10-19,0,0,Devan Porter,24
21109,1,0,0,0,0,0,0,0,0,0,...,GB,GBP,29,2015-05-06,2015-04-07,2015-04-07,1,0,Fiona Powell,24
24380,0,0,0,0,0,0,0,0,0,0,...,US,USD,30,2015-11-26,2015-10-27,2015-10-25,0,0,Tori,24
33867,0,0,0,0,0,0,0,0,0,0,...,CA,CAD,45,2015-07-30,2015-06-15,2015-03-15,0,1,Taste Makers By Trish P,23
39036,1,0,0,0,0,0,0,0,0,0,...,US,USD,45,2016-06-30,2016-05-16,2016-05-15,1,0,Mark Bechard,13

In [16]:
# removing all variables that cannot be known before a campaign is launched, such as # backers and $ pledged
X = df.drop(['state_successful','id', 'name', 'state', 'category_name', 'backers_count','pct_goal_achieved', 'usd_pledged', 'goal', 'country', 'currency',
       'deadline', 'launched', 'created','creator_name','spotlight'], 1)
y = df['state_successful']

print(X.shape)
print(X.columns)
X.head()

(163430, 182)
Index(['category_name_Academic', 'category_name_Accessories',
       'category_name_Action', 'category_name_Animals',
       'category_name_Animation', 'category_name_Anthologies',
       'category_name_Apparel', 'category_name_Apps',
       'category_name_Architecture', 'category_name_Art',
       ...
       'country_MX', 'country_NL', 'country_NO', 'country_NZ', 'country_SE',
       'country_SG', 'country_US', 'campaign_length', 'staff_pick',
       'blurb_length'],
      dtype='object', length=182)

,category_name_Academic,category_name_Accessories,category_name_Action,category_name_Animals,category_name_Animation,category_name_Anthologies,category_name_Apparel,category_name_Apps,category_name_Architecture,category_name_Art,...,country_MX,country_NL,country_NO,country_NZ,country_SE,country_SG,country_US,campaign_length,staff_pick,blurb_length
idx,,,,,,,,,,,,,,,,,,,,,
18520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,30,0,24
21109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,29,0,24
24380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,30,0,24
33867,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,45,1,23
39036,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,45,0,13

## Assumptions

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42, stratify=y)

k_range = list(range(1, 101))
print(X_train.shape, y_train.shape)
print(X_test.shape,y_test.shape)

(114401, 182) (114401,)
(49029, 182) (49029,)

In [ ]:
# https://elitedatascience.com/python-machine-learning-tutorial-scikit-learn
scaler = StandardScaler().fit(X_train)
X_train_s = scaler.transform(X_train)
X_test_s = scaler.transform(X_test)
print(X_train_s.mean(axis=0))
print(X_train_s.std(axis=0))

# X_combined_s = np.vstack((X_train_s, X_test_s))
# y_combined = np.hstack((y_train, y_test))

[-2.18005525e-17 -1.05586721e-17  5.34144590e-18 -1.09313312e-17
  8.10533361e-18  9.93757377e-19 -1.96577631e-17  2.40365066e-17
  4.96878689e-19 -1.24219672e-19 -3.47504533e-17  9.02145369e-18
  3.35393115e-18 -2.62724607e-17  1.31672852e-17  1.83845115e-17
  0.00000000e+00 -4.09924918e-18  3.64584738e-17 -2.73283279e-18
 -2.67072295e-18 -2.01235869e-17 -2.52787033e-17 -2.63345705e-17
  1.00617934e-17  4.59612787e-18 -2.27943098e-17 -2.39743967e-17
 -5.51535344e-17 -1.49684705e-17 -2.48439344e-18 -6.73891721e-18
  2.34154082e-17 -7.45318033e-19 -9.99968361e-18  1.16766492e-17
  7.45318033e-18  4.72034754e-18  3.79491098e-17  2.75767672e-17
  2.14900033e-17 -1.25461869e-17  9.31647541e-19  4.61476082e-17
  4.34768853e-18  4.47190820e-18 -1.73286443e-17  1.33536148e-17
  7.70161967e-18 -1.11797705e-17  1.86329508e-17  3.65205836e-17
 -5.83832459e-18 -1.87571705e-17  3.37256410e-17 -3.01853803e-17
  8.22955328e-18  7.21716295e-17  1.36641639e-17 -4.09924918e-17
  3.88807574e-17  3.35393115e-17 -9.44069508e-18  1.63348869e-17
  1.36641639e-17 -3.25455541e-17  6.82587099e-17 -1.98130377e-17
 -2.95642820e-17  9.31647541e-19 -3.58373754e-17  4.36011049e-17
  5.90043443e-18 -2.88189639e-17 -3.99366246e-17 -1.73907541e-17
  1.78876328e-17 -2.29806394e-18  2.45954951e-17 -1.85708410e-17
 -3.47815082e-18 -1.41610426e-17 -1.11797705e-18 -1.24219672e-19
 -8.38482787e-18 -2.67693394e-17 -6.04328705e-17 -3.11170279e-17
 -4.96878689e-18 -2.84463049e-17  1.86329508e-17 -1.55274590e-17
 -3.14275771e-17 -7.57740000e-18  1.19250885e-17 -4.80109033e-17
 -4.42222033e-17  2.73283279e-17  1.11176607e-17 -4.07440525e-17
 -5.09300656e-18  2.45954951e-17 -1.32293951e-17  6.45942295e-17
 -3.97502951e-18  7.45318033e-19  2.36017377e-18 -1.42852623e-18
 -1.11797705e-18 -2.23595410e-18  5.68305000e-18  2.11173443e-17
  5.73894885e-17 -1.24219672e-18  3.55268262e-17 -7.82583935e-18
 -7.45318033e-19 -9.93757377e-19  1.72044246e-17 -1.18629787e-17
  4.96878689e-17  8.19849836e-18 -4.62097180e-17 -2.01546418e-17
  1.39747131e-17 -5.80726967e-18  1.65833262e-17 -9.55249279e-17
  2.73283279e-18  1.47821410e-17 -4.42222033e-17  9.31647541e-18
  1.54032393e-17 -2.48439344e-19  1.55274590e-17 -4.28557869e-17
  2.17384426e-18 -2.75767672e-17  3.19244557e-17 -7.45318033e-19
  1.04344525e-17  2.16142230e-17  2.53408131e-17 -2.98127213e-18
  1.68938754e-17  4.29800066e-17 -1.98751475e-18 -1.06828918e-17
 -3.71416820e-17  4.34768853e-18 -2.65209000e-17  6.89419181e-18
 -5.58988525e-17 -3.01232705e-17 -4.09924918e-18 -3.10549180e-17
 -9.44069508e-18  2.03720262e-17 -2.23595410e-17 -9.13014590e-18
  7.51529017e-18  9.31647541e-19 -3.62721443e-17  5.86937951e-18
 -1.37262738e-17 -1.59622279e-17  5.13648344e-17  4.72034754e-18
  1.24219672e-19  9.13014590e-18 -1.86329508e-18  4.59612787e-18
  2.32135512e-17  9.56491476e-18 -8.69537705e-19 -3.70174623e-17
  3.21418402e-17  2.42228361e-18 -2.89431836e-17 -1.71485257e-16
  7.06188836e-17  1.12356693e-16]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

## Phase 1: Initial Check on All Models

In [ ]:
# Define models to test
model_list = [['GaussianNB', GaussianNB()], 
                ['BernoulliNB', BernoulliNB()], # F1 0.60
                ['MultinomialNB', MultinomialNB()], 
                ['DecisionTree', DecisionTreeClassifier()], 
                ['RandomForest', RandomForestClassifier()], # F1 0.61
                ['KNN', KNeighborsClassifier(38)], # best k from KNN model below; scale data
                ['LogisticRegression', LogisticRegression()], 
                ['LogisticRegressionCV', LogisticRegressionCV()], # scale data; F1 0.62
                ['SVM', SVC(probability=True)]] # scale data; F1 0.57

model_list_s = [['KNN', KNeighborsClassifier(38)], # best k from KNN model below; scale data
                ['LogisticRegression', LogisticRegression()], # scale data
                ['LogisticRegressionCV', LogisticRegressionCV()], # scale data
                ['SVM', SVC(probability=True)]] # scale data

# Calculate metrics for each model
roc = {}
for model in model_list:
    if model in model_list_s:
        X_train = X_train_s
        X_test = X_test_s
    
    model_name = model[0]
    model = model[1]
    
    accuracy = []
    precision = []
    recall = []
    f1 = []
    auc = []
    error_rate = []
        
    # Perform K-Fold CV and calculate metrics for each fold
    kf = KFold(5, random_state=42, shuffle=True) 
    for train_idx, test_idx in kf.split(X, y=y):
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        accuracy.append(accuracy_score(y_test, y_pred))
        precision.append(precision_score(y_test, y_pred))
        recall.append(recall_score(y_test, y_pred))
        f1.append(f1_score(y_test, y_pred))
        auc.append(roc_auc_score(y_test, y_pred))
        error_rate.append(np.mean(y_pred != y_test))
        
    # Calculate mean metric across K-folds
    mean_accuracy = np.mean(accuracy)
    mean_precision = np.mean(precision)
    mean_recall = np.mean(recall)
    mean_f1 = np.mean(f1)
    mean_auc = np.mean(auc)
    
    # Capture TPR and FPR from last fold for plotting
    y_score = model.predict_proba(X_test)[:,1]
    roc[model_name] = roc_curve(y_test, y_score)
    
    # Print formatted results
    print(model)
    print('\t==============================')
    print('\tAccuracy:', mean_accuracy)
    print('\tAUC:', mean_auc)
    print('\n')
    print(confusion_matrix(y_test,y_pred))
    print(classification_report(y_test,y_pred))

GaussianNB(priors=None)
	==============================
	Accuracy: 0.7008301209488262
	AUC: 0.7313718854525506


[[21117   402]
 [14266 13244]]
             precision    recall  f1-score   support

          0       0.60      0.98      0.74     21519
          1       0.97      0.48      0.64     27510

avg / total       0.81      0.70      0.69     49029

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)
	==============================
	Accuracy: 0.7664851414468987
	AUC: 0.772375096178098


[[17658  3861]
 [ 7588 19922]]
             precision    recall  f1-score   support

          0       0.70      0.82      0.76     21519
          1       0.84      0.72      0.78     27510

avg / total       0.78      0.77      0.77     49029

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
	==============================
	Accuracy: 0.7739093189744845
	AUC: 0.7766075786136701


[[17187  4332]
 [ 6753 20757]]
             precision    recall  f1-score   support

          0       0.72      0.80      0.76     21519
          1       0.83      0.75      0.79     27510

avg / total       0.78      0.77      0.77     49029

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
	==============================
	Accuracy: 0.7462236635460645
	AUC: 0.7482852023493934


[[16469  5050]
 [ 7402 20108]]
             precision    recall  f1-score   support

          0       0.69      0.77      0.73     21519
          1       0.80      0.73      0.76     27510

avg / total       0.75      0.75      0.75     49029

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
	==============================
	Accuracy: 0.7553774296844724
	AUC: 0.7562266771121541


[[16363  5156]
 [ 6877 20633]]
             precision    recall  f1-score   support

          0       0.70      0.76      0.73     21519
          1       0.80      0.75      0.77     27510

avg / total       0.76      0.75      0.76     49029

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=38, p=2,
           weights='uniform')
	==============================
	Accuracy: 0.7260192947031349
	AUC: 0.7201333730436186


[[14460  7059]
 [ 6374 21136]]
             precision    recall  f1-score   support

          0       0.69      0.67      0.68     21519
          1       0.75      0.77      0.76     27510

avg / total       0.73      0.73      0.73     49029

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)
	==============================
	Accuracy: 0.7803340879887414
	AUC: 0.7864617877442689


[[18003  3516]
 [ 7254 20256]]
             precision    recall  f1-score   support

          0       0.71      0.84      0.77     21519
          1       0.85      0.74      0.79     27510

avg / total       0.79      0.78      0.78     49029

In [ ]:
# Plot the ROC curve from the last K-Fold split
fig, ax = plt.subplots(figsize=(12, 8))
colors = ['b', 'g', 'r', 'c', 'm', 'y','k','orange','darkorchid']

# Plot 50-50 Line
ax.plot([0,1],[0,1], ls='--', color='k', label='50-50')
# Plot Classifier ROC Curves
for key, c in zip(roc.keys(), colors):
    ax.plot(roc[key][0], roc[key][1], color=c, label=key)
    
ax.set_xlabel('FPR')
ax.set_ylabel('TPR')
ax.set_title('Classifier Comparison')
ax.legend(loc='best')
plt.savefig('charts/roc.png')

## GridSearchCV

In [ ]:
model_list = [[SVC(), LogisticRegression(), RandomForestClassifier()]]

for model in model_list:
    
    model = model
    
    param_grid = [{'C': [1, 10, 100, 1000], 'kernel': ['linear','poly','rbf'], 'gamma': [0.001, 0.0001]}]
    grid = GridSearchCV(model,param_grid,refit=True,verbose=2, scoring='roc_auc', n_jobs=-1)
    grid.fit(X_train_s,y_train)
    grid_predictions = grid.predict(X_test_s)
    print(grid.best)
    print(confusion_matrix(y_test,grid_predictions))
    print(classification_report(y_test,grid_predictions))

In [ ]:
grid.best

In [ ]:
grid_predictions = grid.predict(X_test_s)

In [ ]:
print(confusion_matrix(y_test,grid_predictions))
print(classification_report(y_test,grid_predictions))