In [1]:
import pandas as pd
import numpy as np

In [2]:
# https://data.ny.gov/Transportation/Turnstile-Usage-Data-2016/ekwu-khcy
# https://data.ny.gov/api/views/ekwu-khcy/rows.csv?accessType=DOWNLOAD
data = pd.read_csv('Turnstile_Usage_Data__2016.csv')
data.shape

/Users/brianmcmahon/anaconda3/envs/tensorflow1.4/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(9492670, 11)

In [3]:
df = pd.DataFrame(data)
# df = pd.DataFrame(data,columns=['C/A', 'Unit', 'SCP', 'Station', 'Line Name', 'Division', 'Date','Time', 'Description', 'Entries', 'Exits'])
df.shape

(9492670, 11)

In [4]:
df.columns

Index(['C/A', 'Unit', 'SCP', 'Station', 'Line Name', 'Division', 'Date',
       'Time', 'Description', 'Entries',
       'Exits                                                     '],
      dtype='object')

In [5]:
df=df.rename(columns = {'Exits                                                     ':'Exits'})

In [6]:
df.columns

Index(['C/A', 'Unit', 'SCP', 'Station', 'Line Name', 'Division', 'Date',
       'Time', 'Description', 'Entries', 'Exits'],
      dtype='object')

In [7]:
df.describe()

            Entries         Exits
count  9.492670e+06  9.492670e+06
mean   3.542553e+07  2.850508e+07
std    1.953005e+08  1.754109e+08
min    0.000000e+00  0.000000e+00
25%    5.723050e+05  2.936032e+05
50%    2.595306e+06  1.507240e+06
75%    6.546587e+06  4.656424e+06
max    2.147480e+09  2.097170e+09

In [8]:
q4 = df.iloc[7000000:,3:]
q4.shape

(2492670, 8)

In [9]:
# aggregate by station then by day
# add columns for incremental change by day
# remove outliers
# per station, two sep analyses: group by time, and group by date, weekday/weekend


q4.head()

,Station,Line Name,Division,Date,Time,Description,Entries,Exits
7000000,DELANCEY/ESSEX,FJMZ,BMT,10/06/2016,13:00:00,REGULAR,931275,3413870
7000001,DELANCEY/ESSEX,FJMZ,BMT,10/06/2016,17:00:00,REGULAR,931504,3414328
7000002,DELANCEY/ESSEX,FJMZ,BMT,10/06/2016,21:00:00,REGULAR,931634,3414871
7000003,DELANCEY/ESSEX,FJMZ,BMT,10/07/2016,01:00:00,REGULAR,931700,3415065
7000004,DELANCEY/ESSEX,FJMZ,BMT,10/07/2016,05:00:00,REGULAR,931720,3415099

In [10]:
q4_aggentry = q4.groupby('Station')['Entries'].sum()
q4_aggentry = pd.DataFrame(q4_aggentry)
q4_aggentry.head()

                     Entries
Station
1 AV            782286930031
103 ST           87327489944
103 ST-CORONA    36515551195
104 ST         2671402272738
110 ST           15885661388

In [11]:
q4_aggexit = q4.groupby('Station')['Exits'].sum()
q4_aggexit = pd.DataFrame(q4_aggexit)
q4_aggexit.head()

                       Exits
Station
1 AV            889536556388
103 ST          327444161793
103 ST-CORONA    34485849080
104 ST         2690245046600
110 ST           16084797176

In [19]:
# Entries / Exits by station
q4 = pd.concat((q4_aggentry, q4_aggexit))
q4 = q4.groupby('Station').sum()
q4 = pd.DataFrame(q4)
q4.head()

                    Entries         Exits
Station
1 AV           7.822869e+11  8.895366e+11
103 ST         8.732749e+10  3.274442e+11
103 ST-CORONA  3.651555e+10  3.448585e+10
104 ST         2.671402e+12  2.690245e+12
110 ST         1.588566e+10  1.608480e+10

KeyError: 'Date'